.screen_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.screen_header__title {
  padding-top: 15px;
  font-size: 30px;
  font-weight: 600;
}

.screen_header__icons span {
  margin-left: 25px;
  position: relative;
}

.screen_header__dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 70px;
  bottom: 25px;
}
